<script type="text/javascript">
    <% if logged_in? %>
      window.currentUser = {
        'id': <%= current_user.id %>,
        'username': '<%= current_user.username %>'
      }
    <% end %>
</script>

<div id="root" >
  react is clearly not working
</div>
